# Force GitHub to count Batch Scripts
*.bat linguist-detectable
*.cmd linguist-detectable

# Force GitHub to count PowerShell scripts
*.ps1 linguist-detectable
*.psm1 linguist-detectable

# Force GitHub to count Shell scripts
*.sh linguist-detectable

# Force GitHub to count Python scripts
*.py linguist-detectable

# Matching the file type to the language
*.py    text diff=python
*.bat   text diff=batch
*.cmd   text diff=batch
*.ps1   text diff=powershell
*.psm1   text diff=powershell
*.sh   text diff=shell